<aside class="sidebar">
    <div class="sidebar-header">
        <h2 class="site-title">DevOps Commands Hub</h2>
        <button id="toggleSidebar" class="toggle-sidebar-btn">
            <i class="fas fa-bars"></i>
        </button>
    </div>
    <nav class="sidebar-nav">
        <ul>
            <li><a href="ROOT_PATH/index" class="sidebar-item HOME_ACTIVE"><i class="fas fa-home"></i> Home</a></li>
            <li><a href="ROOT_PATH/pages/docker" class="sidebar-item DOCKER_ACTIVE"><i class="fab fa-docker"></i> Docker</a></li>
            <li><a href="ROOT_PATH/pages/git" class="sidebar-item GIT_ACTIVE"><i class="fab fa-git-alt"></i> Git</a></li>
            <li><a href="ROOT_PATH/pages/magento" class="sidebar-item MAGENTO_ACTIVE"><i class="fas fa-shopping-cart"></i> Magento</a></li>
            <li><a href="ROOT_PATH/pages/mysql" class="sidebar-item MYSQL_ACTIVE"><i class="fas fa-database"></i> MySQL</a></li>
            <li><a href="ROOT_PATH/pages/opensearch" class="sidebar-item OPENSEARCH_ACTIVE"><i class="fas fa-search"></i> OpenSearch</a></li>
            <li><a href="ROOT_PATH/pages/redis" class="sidebar-item REDIS_ACTIVE"><i class="fas fa-server"></i> Redis</a></li>
            <li><a href="ROOT_PATH/pages/packages" class="sidebar-item PACKAGES_ACTIVE"><i class="fas fa-box"></i> Packages</a></li>
        </ul>
    </nav>
</aside>
